body {
    font-family: Raleway;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

}

a {    
    text-decoration: none;
}

.navoptions {
    color: #0065FC;
    padding: 50px;
}

.filterswithtitle {
    display: flex;
    flex-direction: row;
}

.filters {
    text-decoration: none;
    color: black;
}