body {
    font-family: Raleway, sans-serif;
    margin: auto;
    max-width: 1440px;
}

header {
    padding-left: 50px;
    padding-right: 50px;
}

a {    
    text-decoration: none;
}

.navbarcontainer {
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#reservialogo {
    width: 100px;
    height: auto;
    position: absolute;
    padding-top: 50px;
}

.navigationbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.navoptions {
    list-style-type: none;
}

.navlinks {
    color: #0065FC;
    padding: 20px 30px;
}

#signup {
    padding-top: 15px;
}

.navlinks:visited {
    color: #4f4f50;
}

.navlinks:hover {
    text-decoration: underline;
}

.navlinks:active {
    color: #b2cdf5;
}

#accommodations {
    border-top: 2px solid #0065FC;
    padding-top: 64px;
}

#activities {
    color: #4f4f50;
    padding-top: 60px;
}

@media screen and (max-width: 700px) {    
    header {
        padding: 0px;
    }
    
    #reservialogo {
        width: 100px;
        height: auto;
        position: absolute;
        padding-top: 20px;
        padding-left: 18px;
    }

    .navbarcontainer {
        display: flex;
        flex-direction: row;
        padding-top: 88px;
        padding-right: 0px;
    }
    
    .navigationbar {
        display: flex;
        flex-flow: row;
        justify-content: center;
        width: 100%;
        margin: 0px;
        padding-left: 0px;
        padding-bottom: 15px;
        align-items: baseline;
    }

    .navoptions {
        width: 100%;
        display: flex;
        flex-direction: row;
    }

    #linkaccommodations {
        width: 100%;
        justify-content: center;
        border-bottom: 3px solid #0065FC;
        padding-bottom: 14px;
    }

    #linkactivities {
        width: 100%;
        justify-content: center;
        border-bottom: 3px solid #F2F2F2;
        padding-bottom: 14px;
    }
    
    .navlinks {
        color: #0065FC;
        justify-content: center;
        align-items: baseline;
    }

    #accommodations {
        border-top: none;
        padding: 0px;
        justify-content: center;
    }

    #activities {
        color: #4f4f50;
        justify-content: center;
        padding: 0px;
    }

    #signup {
        position: absolute;
        top: 28px;
        right: 25px;
        padding-right: 0px;
    }
}

.search {
    padding-left: 50px;
}

.mainpagetitle {
    padding-top: 30px;
    margin-bottom: 10px;
    margin-top: 0px;
}

.subtitle {
    margin-top: 0px;
    padding-bottom: 15px;
}

form {
    display: flex;
    flex-direction: row;
    margin: 0px;
}

.mapiconcontainer {
    background-color: #F2F2F2;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    height: 50px;
    font-size: 1.2em;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #F2F2F2;
}

.fieldandbutton {
    border: 1px solid #F2F2F2;
    border-right: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

#searchfield {
    font-family: Raleway, sans-serif;
    border: none;
    color: black;
    font-weight: bold;
    font-size: 1em;
    height: 50px;
    text-indent: 15px;
}

#searchbutton {
    color:white;
    background-color: #0065FC;
    border: 1px solid #0065FC;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    font-family: Raleway, sans-serif;
    font-weight: bold;
    font-size: 1em;
    height: 50px;
    padding-left: 18px;
    padding-right: 18px;
}

#searchicon {
    display: none;
}

.filterssection {
    padding-left: 50px;
    padding-right: 50px;
}

.filterswithtitle {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 0px;
    padding-top: 35px;
    padding-bottom: 35px;
    margin: 0px;
}

#filterstitle {
    margin-right: 30px;
}

.filtersbutton {
    list-style-type: none;
    text-decoration: none;
    padding: 0px;
    border: 2px solid #F2F2F2;
    border-left: none;
    border-radius: 40px;
    height: 50px;
    display: flex;
    align-items: center;
    margin-right: 15px;
}

.iconscontainer {
    background-color: #DEEBFF;
    border: 1px solid #DEEBFF;
    border-radius: 50px;
    width: 50px;
    height: 50px;
    font-size: 1.2em;
    color: #0065FC;
    margin-left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.linkscontainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    margin-left: 12px;
    margin-right: 16px;
}

.filters {
    text-decoration: none;
    color: black;
    text-align: right;
    padding: 0px;
}

@media screen and (max-width: 700px) {
    .search {
        padding-right: 18px;
        padding-left: 18px;
    }

    .mainpagetitle {
        margin-top: 0px;
        padding-top: 15px;
    }

    form {
        width: 100%;
        padding-bottom: 12px;
    }

    .mapiconcontainer {
        height: 45px;
        border: 1px solid #F2F2F2;
        padding: 0px 15px;
    }

    .fieldandbutton {
        height: 45px;
    }

    #searchfield {
        align-items: center;
        height: 44px;
    }

    #searchbutton {
        padding-left: 14px;
        padding-right: 14px;
        border-radius: 10px;
        height: 45px;
    }

    #searchicon {
        display: inline;
    }

    .buttontext {
        display: none;
    }

    .filterssection {
        padding-left: 18px;
        padding-right: 18px;
    }

    .filterswithtitle {
        display: flex;
        flex-direction: row;
        width: 100%;
        padding-right: 30px;
        padding-top: 10px;
    }

    #filterstitle {
        width: 100%;
    }

    .filtersbutton {
        margin-bottom: 10px;
    }
    
}

.information {
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 35px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.infoiconcircle {
    border: 1px solid #F2F2F2;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8em;
    color: #0065FC;
    margin-left: 0px;
    height: 25px;
    width: 25px;
}

.infotext {
    padding-left: 10px;
    margin: 0px;
}

@media screen and (max-width: 700px) {
    .information {
        padding-right: 18px;
        padding-left: 18px;
    }

    .infoiconcircle {
        width: 0px;
        padding-left: 12px;
        padding-right: 12px;
        align-self: baseline;
    }
}

.greysections {
    display: flex;
    flex-direction: row;
}

.accommodations-section {
    margin-left: 50px;
    margin-right: 40px;
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 50px 40px;
    width: 60%;
    box-sizing: border-box;
}

.accommodations-title {
    margin: 0px;
}

.container-hotelcards {
    padding: 25px 0px 40px 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 30px;
    margin: 0px;
}

.hotelcard {
    width: 30%;
    height: 32%;
    background-color: white;
    border: 5px solid white;
    border-radius: 15px;
    box-shadow: 5px 5px 5px #E3E3E3;
    margin: 0px;
    box-sizing: border-box;
}

.photoshotels {
    width: 100%;
    height: 112px;
    box-sizing: border-box;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-position: 50% 50%;
    object-fit: cover;
    overflow: hidden;
}

.cardtitles {
    margin: 0px;
    padding: 10px 10px 7px 10px;
}

.nightprice {
    font-size: 0.9em;
    margin: 0px;
    padding: 0px 10px;
}

.star-container {
    font-size: 0.7em;
    padding: 7px 10px 5px 10px;
}

.fa-star {
    color: #0065FC;
}

#greystar {
    color: #F2F2F2;
}

.showmorelink {
    font-size: 1em;
    margin: 0px;
}

.mostpopular-section {
    margin-left: 0px;
    margin-right: 40px;
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 50px 40px 32px 38px;
    width: 30%;
    box-sizing: border-box;
}

.mostpopular-title {
    margin: 0px;
}

.container-hotelcards-mostpopular {
    padding: 25px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    gap: 30px;
    margin: 0px;
}

.hotelcard-mostpopular {
    width: 100%;
    height: 145px;
    background-color: white;
    border: 5px solid white;
    border-radius: 15px;
    box-shadow: 5px 5px 5px #E3E3E3;
    margin: 0px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
}

.photoshotels-mostpopular {
    width: 126px;
    height: 133px;
    box-sizing: border-box;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    object-position: 50% 50%;
    object-fit: cover;
    overflow: hidden;
}

.divider-hotelinfo {
    padding-left: 5px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
}

#morningsun {
    padding-bottom: 20px;
}

#mostpopularprices {
    flex-grow: 2;
}

